/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
*.log
/public/images/property_title_img/
/public/images/property_gallery_img/
/public/images/3d_img/
/public/images/parameter_img/
/public/images/users/
/public/images/article/
/public/images/chat/
/public/images/chat_audio/
/public/images/property_images/
/public/images/property_legal_images/